html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100%;
}

button {
    margin: 3px;
}

input {
    font-size: 20px;
}

input.disabled {
    border: none;
    color: unset;
    background: unset;
}

#header{
    margin: 15px;

    #title {
        font-size: 200%;
    }
}

#content {
    margin: 15px;

    #table-heading {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    #collection-table {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;

        .book {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            &:nth-child(odd) {
                background-color: #ddd;
            }
        }

        .author, .title, .table-nav {
            padding: 10px;
        }
    }
}